.signUpCard {
  width: 100%;
  padding: 50px 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  color: #016c66;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

}

.signUpText {
  font-size: 35px;
}

.form-signUp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signUpIcon {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.signUpSubmit {
  color: #f5d300;
  background-color: #016c66;
  border: none;
  border-radius: 6px;
  align-self: center;
}

.signUpSubmit:hover {
  background-color: #00926b;
}

.signUpSubmit:active {
  color: #016c66;
  background-color: #f5d300;
}
